{% extends 'base.html.twig' %}

{% block title %}New OrdersDetail{% endblock %}

{% block body %}
    <h1>Create new OrdersDetail</h1>

    {{ include('orders_detail/_form.html.twig') }}

    <a href="{{ path('orders_detail_index') }}">back to list</a>
{% endblock %}
